body{
    font-family: 'Shrikhand', serif;
}
h2{
    padding:10px 0px;
    font-family: 'Bree Serif', serif;
    color:#860A35;
    font-size: 2rem;
}
.titleName{
    margin:10px 0px;
    background-color:#AF2655;
    color:#AF2655;
    padding:5px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.grpName{
    text-align: center;
    font-size:2rem;
}
.top-container{
    background-image: url(images/wood.jpg);
    padding-top:100px;
    position:relative;
    background-size: cover;
}
.upperRight{
    position:absolute;
    right:10px;
    top:5px;
    height:35%;
}
.lowerLeft{
    /* position:absolute; */
    left:200px;
    height:30%;
    
}
.title-text{
    text-align: center;
    padding-top:50px;
}
.elements{
    margin:auto;
    width:75%;
}
.fruits{
    height:200px;    
}
.fruits:hover{
    border-color: #66afe9;
    box-shadow: 0 0 100px rgba(248, 37, 37, 0.6);
  }